/* Global Styles */
*,*::before,*::after {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  font-family: Poppins, Roboto;
  background-color: #f7f7f7;
}

*::-webkit-scrollbar{
  display: none;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  z-index: 100;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin: 0;
  margin-inline-start: 50px;
  padding: 0px 1px;
}

.navbar-left img {
  width: 4rem;
  height: 4rem;
  margin-right: 10px;
}

.navbar-left h1 {
  color: #fff;
  font-size: 24px;
  padding-left: 10px;
  margin: 0;
}

.navbar-right {
  list-style-type: none;
  margin: 0;
  padding: 10;
  margin-inline-end: 50px;
}

.navbar-right li {
  display: inline-block;
  margin-left: 10px;
}

.navbar-right li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.navbar-right li a:hover {
  background-color: #555;
}

.button {
  display: inline;
  border-radius: 10px;
  background-color: aqua;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 10px 18px;
  max-width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  z-index: 100;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -25px;
  transition: 0.5s;
}

.button:hover span {
  padding-left: 4px;
  padding-right: 18px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* Slider */
#slider {
  position: relative;
  top:0;
  left:0;
  right:0;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.slider-container {
  position: relative;
  height: 100%;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
  transition: opacity 0.5s ease-in-out;
}

.slider-item.active {
  opacity: 1;
}

.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 50%;
}

.slider-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.slider-item.active .slider-caption {
  opacity: 1;
}

.slider-caption h2 {
  font-size: 36px;
  padding: 0;
  margin-bottom: 0;
}

.slider-caption h1 {
  font-size: 60px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 0;
}

.slider-caption p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}
/* Opportunity and Why Us Sections */
section {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 0px;
}

section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

section p {
  font-size: 20px;
  line-height: 1.5;
}
#opportunity{
}
#why-us{
  background-color: rgb(255, 255, 255);
  padding-block-end: 6rem;
}
.f-box{
  padding:3rem 0;
  border-bottom: 2px solid #333;
  background-color: #fff;
}
.f-box p{
  margin: auto 2rem;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.feature-card {
  width: 300px;
  padding: 0px;
  padding-top: 10px;
  background-color: rgba(0, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px 20px;
}

.feature-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: beige;
  color: #333;
}

.feature-card h3 {
  font-size: 30px;
  padding: 20px 1rem 30px;
  text-align: center;
}

.feature-card p {
  text-align:left;
  font-size: 14px;
  line-height: 1.5;
  padding: 0.1em;
  padding-bottom: 1.5rem;
}

/* Principal Section */
#principal {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-block-end: 3em;
  background-color: #333;
}

#principal div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#principal-img p{
  
  font-size: 22px;
  text-align: center;
  color: white;
  font-weight: 600;
  padding-bottom: 10px;
}

#principal img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 23px;
}

#principal blockquote {
  width: 50vw;
  min-height: 100%;
}

#principal blockquote p {
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

#principal blockquote footer {
  font-weight: bold;
}

/* Trust Section */
#trust {
  text-align: center;
}

.company-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 0.5rem;
  padding-bottom: 2.8rem;
}

.company-slider img {
  height: 100px;
  width: auto;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
footer div{
  display: flex;
  justify-content: space-around;
}
footer p {
  margin: 0;
}
